# Advanced Querying Mongo

Importing libraries and setting up connection

In [15]:
import pymongo
import pandas as pd

import json
from google.colab import files
uploaded = files.upload()

#Me vuelve a dar errores de conexión Mongo :( así que pongo el código correspondiente pero no saldrán datos

Saving companies.json to companies.json

In [4]:
cliente = pymongo.MongoClient()
cliente

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [11]:
# Your Code
mydb = cliente["empresas"]
myc = mydb.detalles

In [17]:
df = pd.read_json("companies.json")
myc.insert_many(df.to_dict("empresas"))

ValueError: ignored

In [ ]:
list(myc.find({"name":/"Babelgam"/}, {"name":1, "_id":0}))

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [ ]:
# Your Code
gran = pd.DataFrame(myc.find({"number_of_employees": {"$gt": 5000}}))
gran.head(20)

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [ ]:
# Your Code
mayor = {"founded_year": {"$gte": 2000}}
menor = {"founded_year": {"$lte": 2005}}

found = pd.DataFrame(myc.find({"&and": [mayor, menor]})), {"name":1, "founded_years":1, "_id":0}

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [ ]:
# Your Code
valor = {"ipo": {"$gt": 100000000}}
ano = {"founded_year": {"$lt": 2010}}

comp = pd.DataFrame(myc.find({"&and": [valor, ano]})), {"name":1, "ipo":1, "_id":0}

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [ ]:
# Your Code
less = {"number_of_employees": {"$lt": 1000}}
year = {"founded_year": {"$lt": 2005}}

emp = pd.DataFrame(myc.find({"&and": [less, year]}).sort("numer_of_employees", 1))
emp.head(10)

### 6. All the companies that don't include the `partners` field.

In [ ]:
# Your Code
par = pd.DataFrame(myc.find({"partners": {"$exists": False}}))
par.head(5)

### 7. All the companies that have a null type of value on the `category_code` field.

In [ ]:
# Your Code
cat = pd.DataFrame(myc.find({"category_code": {"$type": "null"}}))
cat.head(5)

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [ ]:
# Your Code
mas = {"number_of_employees": {"$gte": 100}}
menos = {"number_of_employees": {"$lt": 1000}}

employ = pd.DataFrame(myc.find({"&and": [mas, menos]})), {"name":1, "number_of_employees":1, "_id":0} 
employ.head(5)

### 9. Order all the companies by their IPO price in a descending order.

In [ ]:
# Your Code
des = pd.DataFrame(myc.sort("ipo", -1))
des.head(10)

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
# Your Code
asc = pd.DataFrame(myc.sort("numer_of_employees", 1))
asc.head(10)

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
# Your Code
mes = pd.DataFrame(myc.find({"founded_month": {"$gt": 6}}))
mes.head(1000)

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
# Your Code
mes = {"founded_year": {"$lt": 2000}}
amount = {"acquisition"["price_amount"]: {"$gt": 1000000}}

din = pd.DataFrame(myc.find({"&and": [mes, amount]}))
din.head(10)

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
# Your Code
acqd = pd.DataFrame(myc.find({"acquisition"["acquired_year"]: {"$gt": 2010}}).sort("acquisition"["price_amount"], 1)), {"name":1, "acquisition":1, "_id":0} 
acqd.head(5)

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code
found = pd.DataFrame(myc.sort("founded_year", 1)), {"name":1, "founded_year":1, "_id":0} 
found.head(5)

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code
price = pd.DataFrame(myc.find({"founded_day": {"$lte": 7}}).sort("acquisition"["price_amount"], -1))
price.head(10)

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code
web = {"category": "web"}
emple = {"number_of_employees": {"$gt": 4000}}

webex = pd.DataFrame(myc.find({"&and": [web, emple]}).sort("number_of_employees", 1))
webex.head(10)

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code
curr = {"currency": "EUR"}
mount = {"acquisition"["price_amount"]: {"$gt": 1000000}}

crrmo = pd.DataFrame(myc.find({"&and": [curr, mount]}))
crrmo.head(5)

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code
"acquired_month"
acqmes = pd.DataFrame(myc.find({"acquisition"["acquired_month"]: {"$lte": 3}})), {"name":1, "acquisition":1, "_id":0} 
acqmes.head(10)

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code