# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
import pandas as pd
pd.options.display.max_columns = None
client = MongoClient()

In [2]:
client.list_database_names()

['admin', 'alojamientos', 'config', 'ironhack', 'local']

In [3]:
'''
En este caso, sigo los pasos de la clase para comenzar a declarar una coleccion
Esto deriva de mydb, la cual es la carpeta "ironhack", donde se encuentra el jason de companies
Seguiré trabajandolo en inglés ya que me ayuda con el nombre de las columnas del Jason
'''

mydb = client['ironhack']
companies = mydb.companies

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [4]:
'''
esta vez he impreso el resultado de lista utilizando el diccionario de name. 
para que solo me salga el name, utilizo otro k:v donde name es la key y 1 es value
_id : 0 para que no aparezca el codigo anterior'''

list(companies.find({"name":"Babelgum"},{'name':1, '_id': 0}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [5]:
'''
he creado una dataframe en donde le voy a buscar las companies que sean mayor que 5000($gt)
después utilizando el sort(), lo he puesto de orden descendiente con -1
imprimo los primeros 20 con head(21)'''

mayor5k = pd.DataFrame(companies.find({'number_of_employees': {'$gt':5000 }}).sort("number_of_employees", -1))
mayor5k.head(21)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd67529941a,Siemens,siemens,http://www.crunchbase.com/company/siemens,http://www.siemens.com,,,Siemens,hardware,405000,1847.0,NaN,NaN,None,None,None,None,"automation, building-technologies, drive-techn...",,contact@siemens.com,49 89 636 34134,Electronics and Electrical Engineering,Thu Jul 31 09:29:43 UTC 2008,Thu Nov 28 20:32:55 UTC 2013,"<p>Siemens AG, an electronics and electrical e...","{'available_sizes': [[[150, 34], 'assets/image...",[],"[{'is_past': False, 'title': 'Chairman, Superv...",[],"[{'title': 'Application Development', 'is_past...",$8.9M,"[{'id': 17062, 'round_code': 'grant', 'source_...",[],None,"[{'price_amount': 418000000, 'price_currency_c...","[{'description': '', 'address1': 'Wittelsbache...","[{'id': 35852, 'description': 'Siemens Receive...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""420"" height=""3...","[{'available_sizes': [[[150, 92], 'assets/imag...",[],[]
1,52cdef7c4bab8bd67529856a,IBM,ibm,http://www.crunchbase.com/company/ibm,http://www.ibm.com,,,IBM,software,388000,1896.0,NaN,NaN,None,None,None,,,,ews@us.ibm.com,914-499-1900,,Fri Mar 14 22:55:52 UTC 2008,Sat Jan 04 02:56:24 UTC 2014,"<p>IBM, acronym for International Business Mac...","{'available_sizes': [[[150, 60], 'assets/image...","[{'name': 'Lotus Notes', 'permalink': 'lotus-n...","[{'is_past': False, 'title': 'Chairman of the ...","[{'competitor': {'name': 'BEA Systems', 'perma...","[{'title': '', 'is_past': False, 'provider': {...",$0,[],"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Headquarters', 'ad...","[{'id': 10471, 'description': 'IBM Completes A...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 93], 'assets/imag...","[{'external_url': 'http://mashpedia.com/IBM', ...",[]
2,52cdef7d4bab8bd675299d33,Toyota,toyota,http://www.crunchbase.com/company/toyota,http://www.toyota-global.com,,,Toyota,enterprise,320000,1933.0,NaN,NaN,None,None,None,None,None,,,81 5 6528 2121,Automotive,Mon Sep 22 22:00:26 UTC 2008,Mon Nov 11 16:24:21 UTC 2013,<p>Toyota operates 75 manufacturing companies ...,"{'available_sizes': [[[135, 37], 'assets/image...",[],"[{'is_past': False, 'title': '', 'person': {'f...",[],"[{'title': '', 'is_past': True, 'provider': {'...",$0,[],"[{'funding_round': {'round_code': 'a', 'source...",None,[],"[{'description': 'HQ', 'address1': 'Toyota Mot...",[],None,"[{'embed_code': '<iframe width=""430"" height=""3...","[{'available_sizes': [[[150, 84], 'assets/imag...",[],[]
3,52cdef7c4bab8bd675297e89,PayPal,paypal,http://www.crunchbase.com/company/paypal,http://www.paypal.com,,,paypal,finance,300000,1998.0,12.0,1.0,None,None,None,None,"moneytransfer, crunchbase, ecommerce, paypal, ...",,,207-619-2873,Internet payment service,Wed Aug 01 09:16:46 UTC 2007,Fri Dec 20 04:43:53 UTC 2013,<p>PayPal is an online payments and money tran...,"{'available_sizes': [[[150, 51], 'assets/image...","[{'name': 'PayPal Here', 'permalink': 'paypal-...","[{'is_past': False, 'title': 'Vice President, ...","[{'competitor': {'name': 'KushCash', 'permalin...","[{'title': 'Public Relations', 'is_past': True...",$197M,"[{'id': 284, 'round_code': 'd', 'source_url': ...","[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': 1500000000, 'price_currency_c...","[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '2145 E Hamil...","[{'id': 11916, 'description': 'Reserve Bank Of...",None,[],"[{'available_sizes': [[[150, 120], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[]
4,52cdef7e4bab8bd67529b0fe,Nippon Telegraph and Telephone Corporation,nippon-telegraph-and-telephone-corporation,http://www.crunchbase.com/company/nippon-teleg...,http://www.ntt.co.jp/index_e.html,,,,None,227000,1985.0,4.0,1.0,None,None,None,None,None,,,,,Tue Feb 17 16:43:28 UTC 2009,Mon Dec 23 19:36:20 UTC 2013,<p>In the information and communication techno...,"{'available_sizes': [[[150, 34], 'assets/image...",[],"[{'is_past': True, 'title': 'System consultant...",[],[],$0,[],"[{'funding_round': {'round_code': 'e', 'source...",None,[],"[{'description': 'NTT', 'address1': '3-1, Otem...",[],None,[],"[{'available_sizes': [[[150, 42], 'assets/imag...",[],[]
5,52cdef7d4bab8bd675298aa4,Samsung Electronics,samsung-electronics,http://www.crunchbase.com/company/samsung-elec...,http://www.samsung.com/us,http://www.samsungvillage.com/,,samsungtweets,hardware,221726,1969.0,2.0,12.0,None,None,None,None,electronics,,manta.client@gmail.com,1-800-726-7864,,Wed May 14 20:34:02 UTC 2008,Wed Dec 04 05:52:38 UTC 2013,"<p>Samsung Electronics Co. Ltd., together with...","{'available_sizes': [[[150, 78], 'assets/image...","[{'name': 'Samsung GALAXY Tab', 'permalink': '...","[{'is_past': False, 'title': 'President and CE...","[{'competitor': {'name': 'Numonyx', 'permalink...","[{'title': 'Electronics', 'is_past': False, 'p...",$0,[],"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'HQ - South Korea', 'address1...","[{'id': 11908, 'description': 'Samsung Ships 3...",None,"[{'embed_code': '<iframe src=""http://blip.tv/p...","[{'available_sizes': [[[94, 150], 'assets/imag...",[{'external_url': 'http://mashpedia.com/Samsun...,[]
6,52cdef7d4bab8bd675298b99,Accenture,accenture,http://www.crunchbase.com/company/accenture,http://www.accenture.com,http://www.accenture.com/Global/Accenture_Blogs/,http://feeds.accenture.com/Accenture_High_Perf...,accenture,consulting,205000,2001.0,1.0,1.0,None,None,None,None,,None,,,"Consulting, Technology, Outsourcing",Fri May 23 17:46:58 UTC 2008,Tue Dec 03 03:57:46 UTC 2013,<p>Accenture is a global management consulting...,"{'available_sizes': [[[150, 52], 'assets/image...","[{'name': 'Accenture Application Dev', 'permal...","[{'is_past': False, 'title': 'Chairman & CEO',...","[{'competitor': {'name': 'IBM', 'permalink': '...","[{'title': 'Public Relations', 'is_past': Fals...",$0,[],[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '1615 Murray ...","[{'id': 1824, 'description': 'Nokia and Accent...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 136], 'assets/ima...",[{'external_url': 'http://www.accenture.com/Gl...,[]
7,52cdef7e4bab8bd67529a657,Tata Consultancy Services,tata-consultancy-services,http://www.crunchbase.com/company/tata-consult...,http://www.tcs.com,,http://www.tcs.com/rss_feeds/Pages/feed.aspx?f=p,TCS_News,consulting,200300,1968.0,NaN,NaN,None,None,None,None,"tcs, india",,global.marketing@tcs.com,,,Wed Dec 03 11:25:19 UTC 2008,Thu May 09 11:58:45 UTC 2013,<p>When you choose Tata Consultancy Services (...,"{'available_sizes': [[[150, 18], 'assets/image...",[],"[{'is_past': False, 'title': 'Founder & Presid...","[{'competitor': {'name': 'Infosys Limited', 'p...",[],$0,[],[],None,[],"[{'description': 'World Headquarters', 'addres...",[],None,[],[],[],[]
8,52cdef7e4bab8bd67529aa51,Flextronics International,flextronics-international,http://www.crunchbase.com/company/flextronics-...,http://www.flextronics.com,http://www.flextronicsblog.com/,,flextronics,None,200000,1969.0,NaN,NaN,None,None,None,None,,,,408-576-7000,,Fri Jan 02 22:51:36 UTC 2009,Fri Nov 15 23:56:13 UTC 2013,"<p>Headquartered in Singapore, they are a lead...","{'available_sizes': [[[150, 18], 'assets/image...",[],"[{'is_past': False, 'title': 'CEO & Board of D...",[],[],$0,[],[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'US HQ', 'address1': '6201 Am...",[],None,[],"[{'available_sizes': [[[150, 107], 'assets/ima...",[],[]
9,52cdef7d4bab8bd675299156,Safeway,safeway,http://www.crunchbase.com/company/safeway,http://www.safeway.com,,,,other,186000,1915.0,NaN,NaN,None,None,None,None,,,,925-467-3000,food and drug retailer,Wed Jul 09 20:44:34 UTC 2008,Thu Dec 01 07:50:26 UTC 2011,"<p>Safeway, Inc., based in Pleasanton, Califor...","{'available_sizes': [[[150, 63], 'assets/image...",[],"[{'is_past': False, 'title': 'Board Member', '...",[],[],$0,[],[],None,[],"[{'description': 'HQ', 'address1': '5918 Stone...",[],None,[],"[{'available_sizes': [[[150, 123], 'assets/ima...",[],[]
10,52cdef7c4bab8bd675297e6f,Sony,sony,http://www.crunchbase.com/company/sony,http://www.sony.com,http://blog.sony.com/,http://blog.sony.com/,Sony,hardware,180500,1946.0,NaN,NaN,None,None,None,None,None,,,858-942-2729,Consumer Electronics,Fri Jul 27 12:47:37 UTC 2007,Tue Dec 10 19:09:15 UTC 2013,<p>Sony is one of the leading manufacturers of...,"{'available_sizes': [[[117, 49], 'assets/image...","[{'name': 'PlayStation 3', 'permalink': 'plays...","[{'is_past': False, 'title': 'President and CE...","[{'competitor': {'name': 'Apple', 'permalink':...","[{'title': 'Public Relations (APAC)', 'is_past...",$0,[],[],None,"[{'price_amount': 260000000, 'price_currency_c...","[{'description': 'HQ', 'address1': '16530 Via ...","[{'id': 18773, 'description': 'Sony Will Buy O...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 107], 'assets/ima...",[{'external_url': 'http://www.entechgadget.com...,[]
11,52cdef7c4bab8bd675298517,LG,lg,http://www.crunchbase.com/company/lg,http://www.lg.com,http://lgusblog.com/,,LGUS,hardware,177000,1947.0,NaN,NaN,None,None,None,None,"electronics, chemicals, telecommunications, en...",,,,Korean conglomerate,Thu Mar 13 02:59:49 UTC 2008,Mon Nov 18 08:59:38 UTC 2013,<p>The LG Group is South Korea&#8217;s third l...,"{'available_sizes': [[[150, 70], 'assets/image...",[],"[{'is_past': False, 'title': 'President & CEO ...","[{'competitor': {'name': 'modu', 'permalink': ...",[],$0,[],[{'funding_round': {'round_code': 'unattribute...,None,[],"[{'description': 'Headquarters', 'address1': '...",[],None,"[{'embed_code': '<iframe src=""http://blip.tv/p...",[],[],[]
12,52cdef7d4bab8bd675299d31,Ford,ford,http://www.crunchbase.com/company/ford,http://www.ford.com,,,FordService,automotive,171000,1903.0,6.0,16.0,None,None,None,None,None,,,1-800-392-3673,,Mon Sep 22 22:00:26 UTC 2008,Wed Dec 04 06:26:50 UTC 2013,<p>Ford Motor Company engages in the developme...,"{'available_sizes': [[[150, 75], 'assets/image...",[],"[{'is_past': False, 'title': 'President and CE...",[],[],$0,[],[],None,"[{'price_amount': 9000000, 'price_currency_cod...","[{'description': '', 'address1': 'One American...",[],"{'valuation_amount': None, 'valuation_currency...",[],[],[],[]
13,52cdef7d4bab8bd675298b28,Boeing,boeing,http://www.crunchbase.com/company/boeing,http://www.boeing.com,,,boeingairplanes,other,160000,NaN,NaN,NaN,None,None,None,None,,,,,airplane manufacturer,Tue May 20 04:34:52 UTC 2008,Tue Dec 17 09:49:21 UTC 2013,<p>Boeing is the world&#8217;s leading aerospa...,"{'available_sizes': [[[150, 54], 'assets/image...",[],"[{'is_past': False, 'title': 'Chief Executive ...","[{'competitor': {'name': 'Row44', 'permalink':...","[{'title': 'Hosting', 'is_past': False, 'provi...",$0,[],[],None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Headquarters', 'ad...","[{'id': 44355, 'description': ' Boeing To Rep...",None,[],"[{'available_sizes': [[[150, 94], 'assets/imag...","[{'external_url': 'http://jobs-boeing.com/', '...",[]
14,52cdef7e4bab8bd67529bb5c,Digital Equipment Corporation,digital-equipment-corporation,http://www.crunchbase.com/company/digital-equi...,,,,,None,140000,1957.0,NaN,NaN,None,None,None,None,None,,,,Computer manufacturing,Mon May 18 23:31:39 UTC 2009,Mon Sep 30 07:49:05 UTC 2013,<p>Digital Equipment Corporation was a pioneer...,"{'available_sizes': [[[150, 44], 'assets/image...",[],"[{'is_past': False, 'title': 'VP, Finance', 'p...",[],[],$0,[],[],None,[],"[{'description': 'HQ', 'address1': '', 'addres...","[{'id': 12279, 'description': 'Ken Olsen, co-f...",None,[],[],[],[]
15,52cdef7c4bab8bd675297fc2,Nokia,nokia,http://www.crunchbase.com/company/nokia,http://nokia.com,,,nokia,mobile,125000,1865.0,NaN,NaN,None,None,None,,"mobile, phone",,miremadalavi@gmail.com,+989126715133,Mobile Devices,Tue Sep 04 12:08:11 UTC 2007,Tue Sep 17 12:49:12 UTC 2013,<p>NOKIA is a Finnish multinational communicat...,"{'available_sizes': [[[120, 50], 'assets/image...","[{'name': 'Nokia Chat', 'permalink': 'nokia-ch...","[{'is_past': False, 'title': 'Chairman of the ...","[{'competitor': {'name': 'Apple', 'permalink':...","[{'title': 'Marketing', 'is_past': False, 'pro...",$0,[],"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 96800000, 'price_currency_co...","[{'description': 'headquarter', 'address1': 'K...","[{'id': 9161, 'description': 'Nokia, AT&T Putt...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 131], 'assets/ima...",[{'external_url': 'http://en.wikipedia.org/wik...,[]
16,52cdef7d4bab8bd675299839,MItsubishi Electric,mitsubishi-electric,http://www.crunchbase.com/company/mitsubishi-e...,http://global.mitsubishielectric.com,,,,hardware,107000,1921.0,NaN,NaN,None,None,None,None,None,,,81 3 3218 2111,electric and electronic equipment,Sat Sep 06 16:43:35 UTC 2008,Thu Jul 04 21:53:15 UTC 2013,<p>Mitsubishi Electric Corporation engages in ...,"{'available_sizes': [[[111, 45], 'assets/image...",[],"[{'is_past': True, 'title': 'Assistant Vice Pr...",[],[],$0,[],[],None,[],"[{'description': 'HQ', 'address1': 'Tokyo Buil...",[],None,[],"[{'available_sizes': [[[150, 145], 'assets/ima...",[],[]
17,52cdef7d4bab8bd675299bc3,MItsubishi Electric,mitsubishi-electric,http://www.crunchbase.com/company/mitsubishi-e...,http://global.mitsubishielectric.com,,,,hardware,107000,1921.0,NaN,NaN,None,None,None,None,None,,,81 3 3218 2111,electric and electronic equipment,Sat Sep 06 16:43:35 UTC 2008,Thu Jul 04 21:53:15 UTC 2013,<p>Mitsubishi Electric Corporation engages in ...,"{'available_sizes': [[[111, 45], 'assets/image...",[],"[{'is_past': True, 'title': 'Assistant Vice Pr...",[],[],$0,[],[],None,[],"[{'description': 'HQ', 'address1': 'Tokyo Buil...",[],None,[],"[{'available_sizes': [[[150, 145], 'assets/ima...",[],[]
18,52cdef7c4bab8bd6752987ad,Comcast,comcast,http://www.crunchbase.com/company/comcast,http://comcast.com,,,XFINITYDeals,games_video,100000,1963.0,NaN,NaN,None,None,None,None,,,,,,Thu Apr 10 15:31:58 UTC 2008,Mon Dec 30 13:28:39 UTC 2013,<p>Comcast Corporation is the largest mass med...,"{'available_sizes': [[[150, 48], 'assets/image...",[],"[{'is_past': False, 'title': 'Director and Vic...",[],"[{'title': 'Public Relations', 'is_past': Fals...",$725M,"[{'id': 38466, 'round_code': 'debt_round', 'so...","[{'funding_round': {'round_code': 'a', 'source...",None,"[{'price_amount': 150000000, 'price_currency_c...","[{'description': 'One Comcast Center', 'addres...","[{'id': 24946, 'description': 'Comcast buys Mi...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 94], 'assets/imag...",[],[]
19,52cdef7d4bab8bd675298d67,Bertelsmann,bertelsmann,http://www.crunchbase.com/company/bertelsmann,http://www.bertelsmann.com,,,None,other,100000,1835.0,NaN,NaN,None,None,None,None,None,None,,05241/80-0,None,Tue Jun 10 08:46:57 UTC 2008,Thu Jan 17 13:31:09 UTC 2013,<p>Bertelsmann AG is a transnational media cor...,"{'available_sizes': [[[150, 47], 'assets/image...",[],"[{'is_past': False, 'title': 'Director Corpora...",[],[],$0,[],"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Headquarters', 'ad...","[{'id': 20443, 'description': 'A Step Forward?...",None,[],[],[],[]
20,52cdef7d4bab8bd675299085,MetaCarta,metacarta,http://www.crunchbase.com/company/metacarta,http://www.metacarta.com,http://metacarta.wordpress.com/,http://metacarta.wordpress.com/feed/,None,mobile,99999,2001.0,1.0,1.0,None,None,None,None,"metacarta, geosearch, geotag, geographic, news...",None,info@metacarta.com,617-661-6382,None,Tue Jul 01 14:08:00 UTC 2008,Thu May 23 11:05:54 UTC 2013,<p>MetaCarta geo-enables content to make it us...,"{'available_sizes': [[[150, 33], 'assets/image...",[],"[{'is_past': False, 'title': 'CEO', 'person': ...",[],"[{'title': 'PR', 'is_past': False, 'provider':...",$10M,"[{'id': 18866, 'round_code': 'c', 'source_url'...",[],"{'price_amount': None, 'price_currency_code': ...",[],"[{'description': 'World Headquarters', 'addres...",[],None,[],[],[{'external_url': 'http://www.editorandpublish...,[]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [6]:
'''
1. he creado las condiciones
    founded_year que sea mayor o igual ($gte) a 2000
    founded_year que sea menor o igual ($lte) a 2500
2. crear la df between, utilizando las condiciones para un find, y utilizando el $and para que me considere ambas
3. lo he sorteado por orden alfabetico por gusto
4. btwdf es una dataframe donde he creado un loc, para imprimir solo 'name' y 'founded_year'
5. imprimir 

'''
cond1 = {'founded_year':{'$gte':2000}}
cond2 = {'founded_year':{'$lte':2005}}

between = pd.DataFrame(companies.find({'$and':[cond1,cond2]}).sort('name',1))
btwdf = between.loc[:,['name','founded_year']]
btwdf.head(5)

           name  founded_year
0        10East          2002
1  1915 Studios          2004
2    1938 Media          2005
3         1Scan          2004
4     2 Minutes          2000

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [7]:
'''
1. he creado las condiciones
    founded_year que sea mayor o igual ($gte) a 2000
    founded_year que sea menor o igual ($lte) a 2500
2. crear la df between, utilizando las condiciones para un find, y utilizando el $and para que me considere ambas
3. lo he sorteado por orden alfabetico por gusto
4. btwdf es una dataframe donde he creado un loc, para imprimir solo 'name' y 'founded_year'
5. imprimir 

'''

#valuation = pd.DataFrame(companies.find({'founded_year':{'$lt':2010}}))

#x = {'valuation_amount': '5', 'valuation_currency': 'None'}
#y = 'None'

#def limpiar_valuacion(y):
#    if valuation['ipo'] != y:
#        valuation['valuation_buena'] = valuation['ipo']['valuation_amount']
#    else:
#        0
#    return valuation

#valuation['valuation_bon'] = valuation['ipo'].apply(limpiar_valuacion)
#valuation.head(2)

#cond_1 = {'ipo':{'$gt':100000000}}
#cond_2 = {'founded_year':{'$lt':2010}}

#valuation = pd.DataFrame(companies.find({'$and':[cond_1,cond_2]}))
#valdf = valuation.loc[:,['name','ipo']]
#valuation.head(5)
#companies.head()

"\n1. he creado las condiciones\n    founded_year que sea mayor o igual ($gte) a 2000\n    founded_year que sea menor o igual ($lte) a 2500\n2. crear la df between, utilizando las condiciones para un find, y utilizando el $and para que me considere ambas\n3. lo he sorteado por orden alfabetico por gusto\n4. btwdf es una dataframe donde he creado un loc, para imprimir solo 'name' y 'founded_year'\n5. imprimir \n\n"

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [28]:
'''
1. he creado las condiciones
    number_of_employees que sea menos ($lt) a 1000
    founded_year que sea menor  ($lt) a 2005
2. crear la b4, utilizando las condiciones para un find, y utilizando el $and para que me considere ambas
3. lo he sorteado por orden de numero de empleados
4. b4_ es una dataframe donde he creado un loc, para imprimir solo 'name' y 'founded_year' y number of employees, por gusto
5. imprimir 

'''
cond1 = {'number_of_employees':{'$lt':1000}}
cond2 = {'founded_year':{'$lt':2005}}

b4 = pd.DataFrame(companies.find({'$and':[cond1,cond2]}).sort('number_of_employees',-1))
b4_ = b4.loc[:,['name','founded_year','number_of_employees']]
b4_.head(10)

                              name  founded_year  number_of_employees
0             Infinera Corporation          2000                  974
1  NorthPoint Communications Group          1997                  948
2                     888 Holdings          1997                  931
3               Forrester Research          1983                  903
4                        SonicWALL          1991                  900
5                       Webmetrics          1999                  900
6             Cornerstone OnDemand          1999                  881
7                             Yelp          2004                  800
8                          MySpace          2003                  800
9                         ZoomInfo          2000                  800

### 6. All the companies that don't include the `partners` field.

In [32]:
'''
1. crear una dataframe donde los valores en "partners" == [] 
2. imprimir

'''

no_part = pd.DataFrame(companies.find({'partners':[]}))
no_part.head(2)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,2005.0,10.0,17.0,1.0,"wiki, seattle, elowitz, media-industry, media-...",,info@wetpaint.com,206.859.6300,Technology Platform Company,2007-05-25 06:51:27,Sun Dec 08 07:15:44 UTC 2013,<p>Wetpaint is a technology platform company t...,"{'available_sizes': [[[150, 75], 'assets/image...","[{'name': 'Wikison Wetpaint', 'permalink': 'we...","[{'is_past': False, 'title': 'Co-Founder and V...","[{'competitor': {'name': 'Wikia', 'permalink':...",[],$39.8M,"[{'id': 888, 'round_code': 'a', 'source_url': ...",[],"{'price_amount': 30000000, 'price_currency_cod...",[],"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,52cdef7c4bab8bd675297d8b,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,1996.0,NaN,NaN,2.0,,Zoho ManageEngine,pr@adventnet.com,925-924-9500,Server Management Software,2007-05-25 19:24:22,Wed Oct 31 18:26:09 UTC 2012,"<p>AdventNet is now <a href=""/company/zoho-man...","{'available_sizes': [[[150, 55], 'assets/image...",[],"[{'is_past': True, 'title': 'CEO and Co-Founde...",[],"[{'title': 'DHFH', 'is_past': True, 'provider'...",$0,[],[],None,[],"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN

### 7. All the companies that have a null type of value on the `category_code` field.

In [43]:
'''
1. crear una dataframe donde los valores en "category_code" == None
2. imprimir

'''

no_cat = pd.DataFrame(companies.find({'category_code': None}))
no_cat.head(2)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd6752980f6,Collective,collective,http://www.crunchbase.com/company/collective,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Thu Sep 26 13:15:02 UTC 2013,Thu Sep 26 13:15:02 UTC 2013,None,None,[],[],[],[],$0,[],[],None,[],[],[],None,[],[],[],[]
1,52cdef7c4bab8bd675298225,Snimmer,snimmer,http://www.crunchbase.com/company/snimmer,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Sat Feb 09 20:35:27 UTC 2008,Mon Mar 10 01:30:14 UTC 2008,None,None,[],[],[],[],$0,[],[],None,[],[],[],None,[],[],[],[]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [46]:
'''
1. he creado las condiciones
    number_of_employees que sea menos ($lt) a 1000
    founded_year que sea menor  ($lt) a 2005
2. crear la b4, utilizando las condiciones para un find, y utilizando el $and para que me considere ambas
3. lo he sorteado por orden de numero de empleados
4. b4_ es una dataframe donde he creado un loc, para imprimir solo 'name' y 'founded_year' y number of employees, por gusto
5. imprimir 

'''
cnd1 = {'number_of_employees':{'$gte':100}}
cnd2 = {'number_of_employees':{'$lte':1000}}

empl= pd.DataFrame(companies.find({'$and':[cnd1,cnd2]}))
empl_ = empl.loc[:,['name','number_of_employees']]
empl_.head(5)

        name  number_of_employees
0  AdventNet                  600
1    AddThis                  120
2      OpenX                  305
3   LifeLock                  644
4      Jajah                  110

### 9. Order all the companies by their IPO price in a descending order.

In [12]:
# Your Code

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [54]:
top10 = pd.DataFrame(companies.find().sort('number_of_employees',-1))
top10_clean = top10.loc[:,['name','number_of_employees']]
top10_clean.head(11)

                                          name  number_of_employees
0                                      Siemens             405000.0
1                                          IBM             388000.0
2                                       Toyota             320000.0
3                                       PayPal             300000.0
4   Nippon Telegraph and Telephone Corporation             227000.0
5                          Samsung Electronics             221726.0
6                                    Accenture             205000.0
7                    Tata Consultancy Services             200300.0
8                    Flextronics International             200000.0
9                                      Safeway             186000.0
10                                        Sony             180500.0

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [14]:
# Your Code

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [15]:
# Your Code

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [16]:
# Your Code

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [17]:
# Your Code

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [18]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [19]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [20]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [21]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [22]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [23]:
# Your Code