# Advanced Querying Mongo

Importing libraries and setting up connection

In [161]:
# libraries
import pymongo
import pandas as pd

pd.options.display.max_columns = None

# connection BBDD
cliente = pymongo.MongoClient()
db = cliente['Ironhack']
col = db['companies']

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [156]:
list(col.find({"name":"Babelgum"}, {"name":1, "_id":0}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [157]:
cond = 5000 # condición

companies_cond = pd.DataFrame(col.find({'number_of_employees': {"$gt": cond}}).limit(20).sort("number_of_employees", -1)) # orden de mayor a menor
companies_cond.head(2)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd67529941a,Siemens,siemens,http://www.crunchbase.com/company/siemens,http://www.siemens.com,,,Siemens,hardware,405000,1847.0,NaN,NaN,None,None,None,None,"automation, building-technologies, drive-techn...",,contact@siemens.com,49 89 636 34134,Electronics and Electrical Engineering,Thu Jul 31 09:29:43 UTC 2008,Thu Nov 28 20:32:55 UTC 2013,"<p>Siemens AG, an electronics and electrical e...","{'available_sizes': [[[150, 34], 'assets/image...",[],"[{'is_past': False, 'title': 'Chairman, Superv...",[],"[{'title': 'Application Development', 'is_past...",$8.9M,"[{'id': 17062, 'round_code': 'grant', 'source_...",[],None,"[{'price_amount': 418000000, 'price_currency_c...","[{'description': '', 'address1': 'Wittelsbache...","[{'id': 35852, 'description': 'Siemens Receive...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""420"" height=""3...","[{'available_sizes': [[[150, 92], 'assets/imag...",[],[]
1,52cdef7c4bab8bd67529856a,IBM,ibm,http://www.crunchbase.com/company/ibm,http://www.ibm.com,,,IBM,software,388000,1896.0,NaN,NaN,None,None,None,,,,ews@us.ibm.com,914-499-1900,,Fri Mar 14 22:55:52 UTC 2008,Sat Jan 04 02:56:24 UTC 2014,"<p>IBM, acronym for International Business Mac...","{'available_sizes': [[[150, 60], 'assets/image...","[{'name': 'Lotus Notes', 'permalink': 'lotus-n...","[{'is_past': False, 'title': 'Chairman of the ...","[{'competitor': {'name': 'BEA Systems', 'perma...","[{'title': '', 'is_past': False, 'provider': {...",$0,[],"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Headquarters', 'ad...","[{'id': 10471, 'description': 'IBM Completes A...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 93], 'assets/imag...","[{'external_url': 'http://mashpedia.com/IBM', ...",[]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [139]:
cond1 = {"founded_year":{"$gte": 2000}} # condición mayor que
cond2 = {"founded_year":{"$lte": 2005}} # condición menor que

# dataframe
filter_founded_year = pd.DataFrame(col.find({'$and': [cond1, cond2]}, {"name":1, "founded_year":1, "_id":0}). sort("founded_year", 1))
filter_founded_year.head(5)

# ordenadas por antiguedad dentro de las condiciones seleccionadas

       name  founded_year
0  AllofMP3          2000
1    Steorn          2000
2    MeeVee          2000
3  PhotoBox          2000
4    Boonex          2000

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [138]:
cond1 = {"ipo.valuation_amount":{"$gt": 100000000}} # condición valoración
cond2 = {"founded_year":{"$lt": 2010}} # condición year

# dataframe
companies_values = pd.DataFrame(col.find({'$and': [cond1, cond2]}, {"name":1, "ipo":1, "_id":0}).limit(3).sort("ipo.valuation_amount", -1))
companies_values

       name                                                ipo
0      GREE  {'valuation_amount': 108960000000, 'valuation_...
1  Facebook  {'valuation_amount': 104000000000, 'valuation_...
2    Amazon  {'valuation_amount': 100000000000, 'valuation_...

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [141]:
cond1 = {"number_of_employees":{"$lt": 1000}} # condición num empleados
cond2 = {"founded_year":{"$lt": 2005}} # condición year

# dataframe
companies_values = pd.DataFrame(col.find({'$and': [cond1, cond2]}).limit(10).sort("number_of_employees", 1))
companies_values.head(2)

# ordenadas por numero de empleados de menor a mayor

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297dbc,Skype,skype,http://www.crunchbase.com/company/skype,http://www.skype.com,http://blogs.skype.com,http://feeds.feedburner.com/shareskypeen,skype,software,0,2003,8.0,NaN,NaN,NaN,NaN,,"phone, voip, sweden, skype",,,94117733,VoIP Software,Tue Jul 03 05:20:31 UTC 2007,Wed Dec 11 13:03:57 UTC 2013,<p>Skype is a software application that allows...,"{'available_sizes': [[[150, 66], 'assets/image...","[{'name': 'Skype', 'permalink': 'skype'}, {'na...","[{'is_past': False, 'title': 'CEO', 'person': ...","[{'competitor': {'name': 'fring Ltd', 'permali...","[{'title': '', 'is_past': False, 'provider': {...",$76.8M,"[{'id': 79, 'round_code': 'b', 'source_url': '...","[{'funding_round': {'round_code': 'a', 'source...","{'price_amount': 2600000000, 'price_currency_c...","[{'price_amount': 150000000, 'price_currency_c...","[{'description': 'Global HQ', 'address1': '23-...","[{'id': 552, 'description': 'Skype released pu...",None,"[{'embed_code': '<iframe src=""http://blip.tv/p...","[{'available_sizes': [[[150, 130], 'assets/ima...",[{'external_url': 'http://www.ewdn.com/2011/06...,[]
1,52cdef7c4bab8bd675298063,Simpy,simpy,http://www.crunchbase.com/company/simpy,http://www.simpy.com,http://blog.simpy.com/,http://blog.simpy.com/blojsom/blog/?flavor=rss2,None,web,0,2004,5.0,1.0,NaN,NaN,NaN,None,social-bookmarks,None,,,None,Wed Oct 24 19:32:41 UTC 2007,Mon Mar 07 02:52:16 UTC 2011,<p>Simpy is a social bookmarking service. With...,"{'available_sizes': [[[32, 32], 'assets/images...","[{'name': 'Simpy', 'permalink': 'simpy'}]","[{'is_past': True, 'title': 'Founder', 'person...",[],[],$0,[],[],None,[],"[{'description': '', 'address1': '', 'address2...",[],None,[],[],[{'external_url': 'http://www.hiking-unlimited...,[]

### 6. All the companies that don't include the `partners` field.

In [152]:
ne_partners = pd.DataFrame(col.find({'partners': {'$exists': True, '$ne':''}}).limit(2))
ne_partners

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47,2005,10.0,17.0,1,"wiki, seattle, elowitz, media-industry, media-...",,info@wetpaint.com,206.859.6300,Technology Platform Company,2007-05-25 06:51:27,Sun Dec 08 07:15:44 UTC 2013,<p>Wetpaint is a technology platform company t...,"{'available_sizes': [[[150, 75], 'assets/image...","[{'name': 'Wikison Wetpaint', 'permalink': 'we...","[{'is_past': False, 'title': 'Co-Founder and V...","[{'competitor': {'name': 'Wikia', 'permalink':...",[],$39.8M,"[{'id': 888, 'round_code': 'a', 'source_url': ...",[],"{'price_amount': 30000000, 'price_currency_cod...",[],"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[]
1,52cdef7c4bab8bd675297d8b,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600,1996,NaN,NaN,2,,Zoho ManageEngine,pr@adventnet.com,925-924-9500,Server Management Software,2007-05-25 19:24:22,Wed Oct 31 18:26:09 UTC 2012,"<p>AdventNet is now <a href=""/company/zoho-man...","{'available_sizes': [[[150, 55], 'assets/image...",[],"[{'is_past': True, 'title': 'CEO and Co-Founde...",[],"[{'title': 'DHFH', 'is_past': True, 'provider'...",$0,[],[],None,[],"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [6]:
# list
list(col.find({"category_code": {"$type": "null"}}, {"_id":0, "name":1}).limit(5))

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [153]:
cond1 = {"number_of_employees":{"$gte": 100}} # condición num empleados >= 
cond2 = {"number_of_employees":{"$lte": 1000}} # condición num empleados <

# dataframe
filter_founded_year = pd.DataFrame(col.find({'$and': [cond1, cond2]}, {"name":1, "number_of_employees":1, "_id":0}). sort("number_of_employees", 1))
filter_founded_year.head(5)

              name  number_of_employees
0           Redfin                  100
1     Simply Hired                  100
2              hi5                  100
3  INgage Networks                  100
4            mig33                  100

### 9. Order all the companies by their IPO price in a descending order.

In [29]:
top3_ipo = pd.DataFrame(col.find().limit(3).sort("ipo", -1))
top3_ipo

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7e4bab8bd67529a8b4,GREE,gree,http://www.crunchbase.com/company/gree,http://www.gree-corp.com,,,gree_corp,games_video,700.0,2004,12.0,7.0,None,None,None,None,"mobile-web, japan, tokyo, social-network, mobi...",None,inquiry@gree-corp.com,,"Internet media business,SNS, free game",Sat Dec 20 16:42:57 UTC 2008,Tue Jan 01 21:37:04 UTC 2013,<p>GREE provides Japan&#8217;s leading mobile ...,"{'available_sizes': [[[150, 61], 'assets/image...",[],"[{'is_past': False, 'title': 'CEO', 'person': ...","[{'competitor': {'name': 'Mobage-town', 'perma...",[],¥464M,"[{'id': 18872, 'round_code': 'unattributed', '...","[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': 104000000, 'price_currency_c...","[{'description': 'Headquarters', 'address1': '...","[{'id': 1021, 'description': 'IPO', 'stoned_ye...","{'valuation_amount': 108960000000, 'valuation_...",[],"[{'available_sizes': [[[133, 150], 'assets/ima...",[],[]
1,52cdef7c4bab8bd675297d8e,Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299.0,2004,2.0,1.0,None,None,None,,"facebook, college, students, profiles, network...",,,,Social network,Fri May 25 21:22:15 UTC 2007,Thu Nov 21 19:40:55 UTC 2013,<p>Facebook is the world&#8217;s largest socia...,"{'available_sizes': [[[150, 61], 'assets/image...","[{'name': 'Facebook Platform', 'permalink': 'f...","[{'is_past': False, 'title': 'Founder and CEO,...","[{'competitor': {'name': 'MySpace', 'permalink...","[{'title': '', 'is_past': False, 'provider': {...",$2.43B,"[{'id': 2, 'round_code': 'angel', 'source_url'...","[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...","{'valuation_amount': 104000000000, 'valuation_...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[]
2,52cdef7c4bab8bd675297e7a,Amazon,amazon,http://www.crunchbase.com/company/amazon,http://amazon.com,,,amazon,ecommerce,NaN,1994,NaN,NaN,None,None,None,None,"virtualstorage, onlineshopping, virtualserver,...",,,(206) 266-1000,,Tue Jul 31 06:46:49 UTC 2007,Wed Oct 30 17:13:43 UTC 2013,"<p>Amazon.com, Inc. (AMZN), is a leading globa...","{'available_sizes': [[[150, 66], 'assets/image...","[{'name': 'Amazon EC2', 'permalink': 'amazon-e...","[{'is_past': False, 'title': 'Founder, Preside...","[{'competitor': {'name': 'eMusic', 'permalink'...","[{'title': '', 'is_past': False, 'provider': {...",$8M,"[{'id': 24535, 'round_code': 'a', 'source_url'...","[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': None, 'address1': '1200 12th ...","[{'id': 6931, 'description': 'How Many Kindle ...","{'valuation_amount': 100000000000, 'valuation_...","[{'embed_code': '<object width=""425"" height=""3...","[{'available_sizes': [[[150, 94], 'assets/imag...",[],[]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [155]:
filter_employees_num = pd.DataFrame(col.find().limit(10).sort("number_of_employees", -1)) # orden de mayor a menor
filter_employees_num.head(3)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd67529941a,Siemens,siemens,http://www.crunchbase.com/company/siemens,http://www.siemens.com,,,Siemens,hardware,405000,1847,NaN,NaN,None,None,None,None,"automation, building-technologies, drive-techn...",,contact@siemens.com,49 89 636 34134,Electronics and Electrical Engineering,Thu Jul 31 09:29:43 UTC 2008,Thu Nov 28 20:32:55 UTC 2013,"<p>Siemens AG, an electronics and electrical e...","{'available_sizes': [[[150, 34], 'assets/image...",[],"[{'is_past': False, 'title': 'Chairman, Superv...",[],"[{'title': 'Application Development', 'is_past...",$8.9M,"[{'id': 17062, 'round_code': 'grant', 'source_...",[],None,"[{'price_amount': 418000000, 'price_currency_c...","[{'description': '', 'address1': 'Wittelsbache...","[{'id': 35852, 'description': 'Siemens Receive...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""420"" height=""3...","[{'available_sizes': [[[150, 92], 'assets/imag...",[],[]
1,52cdef7c4bab8bd67529856a,IBM,ibm,http://www.crunchbase.com/company/ibm,http://www.ibm.com,,,IBM,software,388000,1896,NaN,NaN,None,None,None,,,,ews@us.ibm.com,914-499-1900,,Fri Mar 14 22:55:52 UTC 2008,Sat Jan 04 02:56:24 UTC 2014,"<p>IBM, acronym for International Business Mac...","{'available_sizes': [[[150, 60], 'assets/image...","[{'name': 'Lotus Notes', 'permalink': 'lotus-n...","[{'is_past': False, 'title': 'Chairman of the ...","[{'competitor': {'name': 'BEA Systems', 'perma...","[{'title': '', 'is_past': False, 'provider': {...",$0,[],"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Headquarters', 'ad...","[{'id': 10471, 'description': 'IBM Completes A...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 93], 'assets/imag...","[{'external_url': 'http://mashpedia.com/IBM', ...",[]
2,52cdef7d4bab8bd675299d33,Toyota,toyota,http://www.crunchbase.com/company/toyota,http://www.toyota-global.com,,,Toyota,enterprise,320000,1933,NaN,NaN,None,None,None,None,None,,,81 5 6528 2121,Automotive,Mon Sep 22 22:00:26 UTC 2008,Mon Nov 11 16:24:21 UTC 2013,<p>Toyota operates 75 manufacturing companies ...,"{'available_sizes': [[[135, 37], 'assets/image...",[],"[{'is_past': False, 'title': '', 'person': {'f...",[],"[{'title': '', 'is_past': True, 'provider': {'...",$0,[],"[{'funding_round': {'round_code': 'a', 'source...",None,[],"[{'description': 'HQ', 'address1': 'Toyota Mot...",[],None,"[{'embed_code': '<iframe width=""430"" height=""3...","[{'available_sizes': [[[150, 84], 'assets/imag...",[],[]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [39]:
cond1 = {"founded_month":{"$gte": 6}}
cond2 = {"founded_month":{"$lte": 12}}

# dataframe
filter_founded_month = pd.DataFrame(col.find({'$and': [cond1, cond2]}, {"name":1, "founded_month":1, "_id":0}).limit(1000))
filter_founded_month.head(5)

        name  founded_month
0   Wetpaint             10
1       Zoho              9
2       Digg             10
3  Omnidrive             11
4    Postini              6

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [127]:
cond1 = {"founded_year":{"$lt": 2000}}
cond2 = {"acquisition.price_amount":{"$gt": 10000}}

# dataframe
filter_lt2000 = pd.DataFrame(col.find({'$and': [cond1, cond2]}).limit(10).sort("acquisition.price_amount", -1))
filter_lt2000.head(2)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd6752983f8,BEA Systems,bea-systems,http://www.crunchbase.com/company/bea-systems,http://www.bea.com,,,None,software,NaN,1995,NaN,NaN,None,None,None,None,None,None,,1-800-817-4BEA,None,Thu Feb 28 04:44:54 UTC 2008,Wed Oct 03 00:09:52 UTC 2012,<p>BEA is a leading provider of enterprise sof...,"{'available_sizes': [[[96, 85], 'assets/images...","[{'name': 'BEA Aqualogic', 'permalink': 'bea-a...","[{'is_past': False, 'title': 'Founder', 'perso...","[{'competitor': {'name': 'IBM', 'permalink': '...",[],$0,[],[],"{'price_amount': 8500000000, 'price_currency_c...",[],"[{'description': '', 'address1': '', 'address2...",[],None,[],[],[],[]
1,52cdef7d4bab8bd675299e35,Navteq,navteq,http://www.crunchbase.com/company/navteq,http://www.navteq.com,,,,software,NaN,1985,NaN,NaN,None,None,None,None,None,Navigation Technologies,,312-894-7000,location data for navigation,Wed Oct 01 00:08:51 UTC 2008,Fri Aug 03 19:06:50 UTC 2012,<p>NAVTEQ Corporation develops and delivers di...,"{'available_sizes': [[[150, 33], 'assets/image...",[],"[{'is_past': False, 'title': 'Senior Product A...",[],[],$0,[],"[{'funding_round': {'round_code': 'b', 'source...","{'price_amount': 8100000000, 'price_currency_c...","[{'price_amount': None, 'price_currency_code':...","[{'description': 'HQ', 'address1': '425 West R...",[],None,[],"[{'available_sizes': [[[150, 89], 'assets/imag...",[],[]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [126]:
cond = 2010 # condición year

# dataframe
filter_gt2010 = pd.DataFrame(col.find({"acquisition.acquired_year":{"$gt": cond}}, {"name":1, "acquisition":1, "_id":0}).limit(10).sort("acquisition.price_amount", -1))
filter_gt2010.head(6)

                     name                                        acquisition
0                T-Mobile  {'price_amount': 39000000000, 'price_currency_...
1    Goodrich Corporation  {'price_amount': 18400000000, 'price_currency_...
2                     LSI  {'price_amount': 6600000000, 'price_currency_c...
3  National Semiconductor  {'price_amount': 6500000000, 'price_currency_c...
4                   Ariba  {'price_amount': 4300000000, 'price_currency_c...
5   NetLogic Microsystems  {'price_amount': 3700000000, 'price_currency_c...

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [86]:
# dataframe
founded_year = pd.DataFrame(col.find({},{"name":1, "founded_year":1, "_id":0}).limit(10).sort("founded_year", -1))
founded_year.head(4)

     name  founded_year
0   Wamba          2013
1  Gimigo          2013
2  Clowdy          2013
3   Fixya          2013

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [124]:
cond = 7 #condición day of month

# dataframe
founded_day = pd.DataFrame(col.find({'founded_day': {'$lte': cond}}).limit(10).sort("acquisition.price_amount", -1))
founded_day.head(2)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd6752989a1,Netscape,netscape,http://www.crunchbase.com/company/netscape,http://netscape.aol.com,,,,software,NaN,1994,4,4,NaN,NaN,NaN,None,None,,,,,Tue May 06 00:27:28 UTC 2008,Thu Nov 14 00:57:06 UTC 2013,<p>Netscape Communications Corporation offers ...,"{'available_sizes': [[[150, 40], 'assets/image...",[],"[{'is_past': False, 'title': 'Chief Scientist'...",[],[],$0,"[{'id': 20468, 'round_code': 'c', 'source_url'...",[],"{'price_amount': 4200000000, 'price_currency_c...",[],"[{'description': '', 'address1': '466 Ellis St...",[],None,[],[],[],[]
1,52cdef7c4bab8bd675297e89,PayPal,paypal,http://www.crunchbase.com/company/paypal,http://www.paypal.com,,,paypal,finance,300000.0,1998,12,1,NaN,NaN,NaN,None,"moneytransfer, crunchbase, ecommerce, paypal, ...",,,207-619-2873,Internet payment service,Wed Aug 01 09:16:46 UTC 2007,Fri Dec 20 04:43:53 UTC 2013,<p>PayPal is an online payments and money tran...,"{'available_sizes': [[[150, 51], 'assets/image...","[{'name': 'PayPal Here', 'permalink': 'paypal-...","[{'is_past': False, 'title': 'Vice President, ...","[{'competitor': {'name': 'KushCash', 'permalin...","[{'title': 'Public Relations', 'is_past': True...",$197M,"[{'id': 284, 'round_code': 'd', 'source_url': ...","[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': 1500000000, 'price_currency_c...","[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '2145 E Hamil...","[{'id': 11916, 'description': 'Reserve Bank Of...",None,[],"[{'available_sizes': [[[150, 120], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [122]:
cond1 = {"category_code":{"$eq": "web"}} # condición categoria
cond2 = {"number_of_employees":{"$gt": 4000}} # condición num empleados

# dataframe
filter_category = pd.DataFrame(col.find({'$and': [cond1, cond2]}).limit(10).sort("number_of_employees", 1))
filter_category.head(2)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd67529822a,Expedia,expedia,http://www.crunchbase.com/company/expedia,http://www.expedia.com,,,Expedia,web,4400,1996,NaN,NaN,None,None,None,None,"travel, flights, hotels, tickets, airline, vac...",,,1-800-EXPEDIA,,Sun Feb 10 03:29:12 UTC 2008,Sun Dec 08 07:03:33 UTC 2013,<p>Expedia.com is an Internet-based travel age...,"{'available_sizes': [[[150, 115], 'assets/imag...",[],"[{'is_past': False, 'title': 'Director and Vic...","[{'competitor': {'name': 'Farecast', 'permalin...","[{'title': '', 'is_past': False, 'provider': {...",$0,[],"[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': None, 'price_currency_code': ...","[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Office', 'address1...","[{'id': 11691, 'description': 'US AIRWAYS AND ...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 93], 'assets/imag...",[{'external_url': 'http://www.urlaubs-rabatte....,[]
1,52cdef7c4bab8bd675297e96,AOL,aol,http://www.crunchbase.com/company/aol,http://www.aol.com,http://blog.aol.com/,http://feeds.feedburner.com/AolBlog?format=xml,aol,web,8000,1985,5.0,24.0,None,None,None,,"american-on-line, america-online","America Online, America on-line",,+1-703-265-1000,,Fri Aug 03 06:26:04 UTC 2007,Fri Nov 29 21:51:48 UTC 2013,<p>AOL is a global advertising-supported Web c...,"{'available_sizes': [[[150, 84], 'assets/image...","[{'name': 'Xdrive', 'permalink': 'xdrive'}, {'...","[{'is_past': False, 'title': 'CEO, Chairman', ...","[{'competitor': {'name': 'MySpace', 'permalink...",[],$1B,"[{'id': 3548, 'round_code': 'post_ipo_equity',...","[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 40000000, 'price_currency_co...","[{'description': 'HQ', 'address1': '770 Broadw...","[{'id': 2689, 'description': 'AOL relauches, c...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 91], 'assets/imag...","[{'external_url': 'http://mashpedia.com/AOL', ...",[]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [123]:
cond1 = {"acquisition.price_amount":{"$gt": 10000000}} # condición importe
cond2 = {"acquisition.price_currency_code":{"$eq": "EUR"}} # condición tipo de moneda

# dataframe
filter_price2 = pd.DataFrame(col.find({'$and': [cond1, cond2]}).limit(10).sort("acquisition.price_amount", -1))
filter_price2.head(2)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd675298bf3,Apertio,apertio,http://www.crunchbase.com/company/apertio,http://www.apertio.com,,,None,mobile,NaN,NaN,NaN,NaN,None,None,None,None,,None,,,None,Tue May 27 07:08:56 UTC 2008,Fri Aug 28 23:39:22 UTC 2009,"<p>Apertio One provides a single, open, subscr...","{'available_sizes': [[[150, 41], 'assets/image...",[],"[{'is_past': True, 'title': 'VP Business Devel...",[],[],$30M,"[{'id': 2405, 'round_code': 'b', 'source_url':...",[],"{'price_amount': 140000000, 'price_currency_co...",[],"[{'description': None, 'address1': '', 'addres...",[],None,[],[],[],[]
1,52cdef7e4bab8bd67529a536,Webedia,webedia,http://www.crunchbase.com/company/webedia,http://purepeople.com,,http://www.purepeople.com/rss,purepeople,web,50.0,2007.0,11.0,1.0,None,None,None,None,"web, news, people",,redaction@purepeople.fr,+33156799102,,Sat Nov 29 18:18:06 UTC 2008,Fri May 24 07:18:38 UTC 2013,<p>The reference site on the news of the stars...,"{'available_sizes': [[[150, 37], 'assets/image...",[],"[{'is_past': False, 'title': 'Board', 'person'...",[],[],$0,[],[],"{'price_amount': 70000000, 'price_currency_cod...",[],"[{'description': '', 'address1': '', 'address2...",[],None,[],"[{'available_sizes': [[[150, 93], 'assets/imag...",[],[]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [128]:
cond = 4 # condición month

# dataframe
top3_acquired3 = pd.DataFrame(col.find({"acquisition.acquired_month":{"$lt": cond}}, {"name":1, "acquisition":1, "_id":0}).limit(10).sort("acquisition.price_amount", -1))
top3_acquired3.head(3)

           name                                        acquisition
0      T-Mobile  {'price_amount': 39000000000, 'price_currency_...
1   BEA Systems  {'price_amount': 8500000000, 'price_currency_c...
2  Puget Energy  {'price_amount': 7400000000, 'price_currency_c...

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

### 20. All the companies that have been 'deadpooled' after the third year.

In [184]:
df = pd.DataFrame(col.find())

df['filter_deadpooled'] = df["deadpooled_year"] - df["founded_year"]

df[df['filter_deadpooled'] > 3].head(3)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo,filter_deadpooled
22,52cdef7c4bab8bd675297da0,Babelgum,babelgum,http://www.crunchbase.com/company/babelgum,http://babelgum.com,http://babelgum.com/blog,http://feeds.feedburner.com/Babelgum,Babelgum,games_video,NaN,2007.0,3.0,1.0,2013.0,"iptv, web2ireland",,info@babelgum.com,,,Sat Jun 09 08:15:21 UTC 2007,Wed Oct 16 06:30:25 UTC 2013,<p>Babelgum is an integrated web and mobile vi...,"{'available_sizes': [[[135, 102], 'assets/imag...","[{'name': 'Babelgum', 'permalink': 'babelgum'}]","[{'is_past': False, 'title': 'CEO', 'person': ...","[{'competitor': {'name': 'Joost', 'permalink':...",[],$13.2M,"[{'id': 17, 'round_code': 'a', 'source_url': '...",[],None,[],"[{'description': '', 'address1': '', 'address2...",[],[],[],[],[],1.0,9.0,,None,6.0
36,52cdef7c4bab8bd675297dae,Thoof,thoof,http://www.crunchbase.com/company/thoof,http://thoof.com,,None,None,web,NaN,2006.0,12.0,1.0,2013.0,social-news,None,None,None,None,Sat Jun 16 05:05:50 UTC 2007,Wed Dec 18 13:06:44 UTC 2013,<p>Thoof is a late entry to the personalized/s...,"{'available_sizes': [[[150, 74], 'assets/image...","[{'name': 'Thoof', 'permalink': 'thoof'}]","[{'is_past': True, 'title': 'Founder and CEO',...","[{'competitor': {'name': 'Last.fm', 'permalink...",[],$1M,"[{'id': 35, 'round_code': 'seed', 'source_url'...",[],None,[],"[{'description': None, 'address1': None, 'addr...",[],[],[],[{'external_url': 'http://www.duraslide.com.sg...,[],8.0,4.0,,None,7.0
44,52cdef7c4bab8bd675297db6,Wesabe,wesabe,http://www.crunchbase.com/company/wesabe,http://wesabe.com,http://blog.wesabe.com/,http://blog.wesabe.com/feed/,jasonlong,web,NaN,2005.0,12.0,1.0,2010.0,"moneymanagement, finance, money",None,contact@wesabe.com,None,None,Wed Jun 20 10:59:01 UTC 2007,Fri Apr 15 01:40:13 UTC 2011,<p>JF11V8 You&#8217;ve hit the ball out the pa...,"{'available_sizes': [[[129, 133], 'assets/imag...","[{'name': 'Wesabe', 'permalink': 'wesabe'}]","[{'is_past': False, 'title': 'Co-Founder and C...","[{'competitor': {'name': 'Revolution Money', '...",[],$4.7M,"[{'id': 43, 'round_code': 'seed', 'source_url'...",[],None,[],"[{'description': None, 'address1': '400 Montgo...",[],"[{'embed_code': '<script src=""http://flash.rev...",[],[],[],6.0,30.0,http://techcrunch.com/2010/06/30/wesabe-shuts-...,None,5.0