# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
import pandas as pd
client = MongoClient()

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [2]:


mydb = client["mongo_lab"]
collection = mydb.mongo_lab_collection

list(collection.find({"name":"Babelgum"}).distinct("name"))

['Babelgum']

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [3]:
companies_gt_5000 = pd.DataFrame(collection.find({'number_of_employees': {"$gte": 5000}}))[:20]
companies_gt_5000.sort_values(by=["number_of_employees"])

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
6,52cdef7c4bab8bd675297e49,Nintendo,nintendo,http://www.crunchbase.com/company/nintendo,http://nintendo.com,,,NintendoAmerica,games_video,5080,...,[],None,[],"[{'description': None, 'address1': None, 'addr...","[{'id': 17591, 'description': '3D For Everyone...",None,[],[],[],[]
0,52cdef7c4bab8bd675297d8e,Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299,...,"[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...","{'valuation_amount': 104000000000, 'valuation_...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[]
7,52cdef7c4bab8bd675297e5d,Adobe Systems,adobe-systems,http://www.crunchbase.com/company/adobe-systems,http://www.adobe.com,http://blogs.adobe.com/,http://blogs.adobe.com/index.xml,Adobe,software,7173,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 3400000000, 'price_currency_...","[{'description': '', 'address1': '', 'address2...","[{'id': 6, 'description': 'Adobe announced new...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 93], 'assets/imag...",[{'external_url': 'http://www.crunchbase.com/f...,[]
18,52cdef7c4bab8bd6752981b5,NetApp,netapp,http://www.crunchbase.com/company/netapp,http://netapp.com,http://blogs.netapp.com/dave/,http://blogs.netapp.com/dave/index.rdf,netapp,software,8000,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': 120000000, 'price_currency_c...","[{'description': None, 'address1': None, 'addr...","[{'id': 12113, 'description': 'The price paid ...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[]
11,52cdef7c4bab8bd675297e96,AOL,aol,http://www.crunchbase.com/company/aol,http://www.aol.com,http://blog.aol.com/,http://feeds.feedburner.com/AolBlog?format=xml,aol,web,8000,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 40000000, 'price_currency_co...","[{'description': 'HQ', 'address1': '770 Broadw...","[{'id': 2689, 'description': 'AOL relauches, c...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 91], 'assets/imag...","[{'external_url': 'http://mashpedia.com/AOL', ...",[]
12,52cdef7c4bab8bd675297ea4,Webkinz,webkinz,http://www.crunchbase.com/company/webkinz,http://www.webkinz.com,http://www.webkinz.com,http://piczo.com,webkinz,web,8657,...,[],None,[],"[{'description': None, 'address1': 'One Pearce...",[],None,[],[],"[{'external_url': 'http://webkinz-tips.com', '...",[]
15,52cdef7c4bab8bd675297fcb,Rakuten,rakuten,http://www.crunchbase.com/company/rakuten,http://global.rakuten.com/corp,,,RakutenGlobal,web,10000,...,[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': 425000000, 'price_currency_c...","[{'description': 'Headquarter', 'address1': 'R...","[{'id': 7034, 'description': 'RS Empowerment a...",None,[],"[{'available_sizes': [[[150, 111], 'assets/ima...",[{'external_url': 'http://www.brightwire.com/c...,[]
3,52cdef7c4bab8bd675297da3,Yahoo!,yahoo,http://www.crunchbase.com/company/yahoo,http://www.yahoo.com,http://ycorpblog.com/,http://ycorpblog.com/feed/,Yahoo,web,13600,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': 1000000000, 'price_currency_...","[{'description': None, 'address1': '701 First ...","[{'id': 347, 'description': 'CBS and Yahoo in ...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 132], 'assets/ima...",[{'external_url': 'http://onlinepersonalswatch...,[]
1,52cdef7c4bab8bd675297d9b,eBay,ebay,http://www.crunchbase.com/company/ebay,http://ebay.com,,,eBay,web,15000,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': 1500000000, 'price_currency_...","[{'description': 'Headquarters', 'address1': '...","[{'id': 7107, 'description': 'eBay Q2 Revenue ...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""370"" height=""3...","[{'available_sizes': [[[150, 71], 'assets/imag...",[],[]
10,52cdef7c4bab8bd675297e8e,The Walt Disney Company,the-walt-disney-company,http://www.crunchbase.com/company/the-walt-dis...,http://thewaltdisneycompany.com,http://thewaltdisneycompany.com/blog,,DisneyPost,games_video,25000,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 350000000, 'price_currency_c...","[{'description': None, 'address1': '500 S. Bue...","[{'id': 6970, 'description': 'Disney About To ...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 92], 'assets/imag...",[{'external_url': 'http://jobs.disney.corp.go....,[]
4,52cdef7c4bab8bd675297dba,Google,google,http://www.crunchbase.com/company/google,http://google.com,http://googleblog.blogspot.com,http://googleblog.blogspot.com/feeds/posts/def...,google,search,28000,...,"[{'funding_round': {'round_code': 'a', 'source...",None,"[{'price_amount': 60000000, 'price_currency_co...","[{'description': 'Google Headquarters', 'addre...","[{'id': 3, 'description': 'More than 4 Billion...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...",[],[],"[{'partner_name': 'AngelList', 'homepage_url':..."
13,52cdef7c4bab8bd675297ee9,Sun Microsystems,sun-microsystems,http://www.crunchbase.com/company/sun-microsys...,http://www.sun.com,,,sunmicrosystems,enterprise,33350,...,"[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': 7400000000, 'price_currency_c...","[{'price_amount': 1000000000, 'price_currency_...","[{'description': None, 'address1': '4150 Netwo...","[{'id': 196, 'description': 'NBC selects Sun t...",None,"[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 92], 'assets/imag...",[{'external_url': 'http://mashpedia.com/Sun_Mi...,[]
19,52cdef7c4bab8bd67529821b,Motorola Solutions,motorola-solutions,http://www.crunchbase.com/company/motorola-sol...,http://www.motorolasolutions.com,,,MotoSolutions,enterprise,51000,...,"[{'funding_round': {'round_code': 'd', 'source...",None,"[{'price_amount': 181000000, 'price_currency_c...","[{'description': 'Corporate Headquarters', 'ad...",[],"{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 93], 'assets/imag...",[],[]
2,52cdef7c4bab8bd675297da2,Cisco,cisco,http://www.crunchbase.com/company/cisco,http://www.cisco.com,http://blogs.cisco.com,,CiscoSystems,network_hosting,63000,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': 215000000, 'price_currency_c...","[{'description': 'Headquarters', 'address1': '...","[{'id': 10474, 'description': 'Cisco To Acquir...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 92], 'assets/imag...",[{'external_url': 'http://mashpedia.com/cisco'...,[]
17,52cdef7c4bab8bd675298189,Apple,apple,http://www.crunchbase.com/company/apple,http://www.apple.com,,,ebelow,hardware,80000,...,[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': 278000000, 'price_currency_c...","[{'description': None, 'address1': '1 Infinite...","[{'id': 782, 'description': 'Apple Sells 6.9 M...","{'valuation_amount': None, 'valuation_currency...",[],[],[{'external_url': 'http://thcx.org/tech-news/i...,[]
5,52cdef7c4bab8bd675297dc4,Intel,intel,http://www.crunchbase.com/company/intel,http://www.intel.com,,,intel,hardware,86300,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': 884000000, 'price_currency_c...","[{'description': 'Robert Noyce Building', 'add...","[{'id': 3992, 'description': 'Intel announces ...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 92], 'assets/imag...",[{'external_url': 'http://mashpedia.com/Intel'...,[]
16,52cdef7c4bab8bd67529809d,Microsoft,microsoft,http://www.crunchbase.com/company/microsoft,http://www.microsoft.com,,,Microsoft,software,90000,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': 50000000, 'price_currency_co...","[{'description': 'World Headquarters', 'addres...","[{'id': 9073, 'description': 'Microsoft Actual...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<div style=""width:430px;""><di...","[{'available_sizes': [[[99, 150], 'assets/imag...",[],[]
14,52cdef7c4bab8bd675297fc2,Nokia,nokia,http://www.crunchbase.com/company/nokia,http://nokia.com,,,nokia,mobile,125000,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 96800000, 'price_currency_co...","[{'description': 'headquarter', 'address1': 'K...","[{'id': 9161, 'description': 'Nokia, AT&T Putt...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 131], 'assets/ima...",[{'external_url': 'http://en.wikipedia.org/wik...,[]
8,52cdef7c4bab8bd675297e6f,Sony,sony,http://www.crunchbase.com/company/sony,http://www.sony.com,http://blog.sony.com/,http://blog.sony.com/,Sony,hardware,180500,...,[],None,"[{'price_amount': 260000000, 'price_currency_c...","[{'description': 'HQ', 'address1': '16530 Via ...","[{'id': 18773, 'description': 'Sony Will Buy O...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 107], 'assets/ima...",[{'external_url': 'http://www.entechgadget.com...,[]
9,52cdef7c4bab8bd675297e89,PayPal,paypal,http://www.crunchbase.com/company/paypal,http://www.paypal.com,,,paypal,finance,300000,...,"[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': 1500000000, 'price_currency_c...","[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '2145 E Hamil...","[{'id': 11916, 'description': 'Reserve Bank Of...",None,[],"[{'available_sizes': [[[150, 120], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [4]:
cond1 = {'founded_year': {"$gte": 2000}}
cond2 = {'founded_year': {"$gte": 2005}}

data = collection.find({'$and': [cond1, cond2]}, 
                       {"_id":0,"name":1,"founded_year":1}
                      )

companies_founded_00_05 = pd.DataFrame(data)
companies_founded_00_05

            name  founded_year
0       Wetpaint          2005
1           Zoho          2005
2      Omnidrive          2005
3           Geni          2006
4        Twitter          2006
...          ...           ...
7964  Eazeeloans          2006
7965     DocASAP          2012
7966    cotralis          2008
7967      Oriact          2009
7968      Adhunk          2009

[7969 rows x 2 columns]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [70]:
cond1 = {'ipo.valuation_amount': {"$gte": 100000000}}
cond2 = {'founded_year': {"$gte": 2010}}

data = collection.find({'$and': [cond1, cond2]}, 
                       {"_id":0,"ipo":1,"name":1}
                      )[:20]

companies_founded_10_amount_100M = pd.DataFrame(data)
companies_founded_10_amount_100M

Empty DataFrame
Columns: []
Index: []

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [6]:
cond1 = {'number_of_employees': {"$lte": 1000}}
cond2 = {'founded_year': {"$gte": 2005}}

data = collection.find({'$and': [cond1, cond2]}, 
                       {"_id":0,"name":1,"number_of_employees":1}
                      )

companies_5 = pd.DataFrame(data).sort_values(by=["name"],ascending=True).sort_values(by=["number_of_employees"],ascending=False)[:10]
companies_5

                         name  number_of_employees
1758             Yatra online                 1000
3974             Hello Travel                 1000
3734             Brain Bakery                 1000
5607       JinkoSolar Holding                 1000
2813                  Gumtree                 1000
326                     Yodle                 1000
50                        Box                  950
902                    InMobi                  900
646                   Workday                  900
3930  Relax Solutions Pvt Ltd                  900

### 6. All the companies that don't include the `partners` field.

In [33]:
data = collection.find({'partners': {'$exists': False}},
                       {"_id":0,"name":1}
                      )

companies_6 = pd.DataFrame(data)
companies_6

Empty DataFrame
Columns: []
Index: []

### 7. All the companies that have a null type of value on the `category_code` field.

In [8]:
data = collection.find({"category_code": {"$type": "null"}},
                       {"_id":0,"name":1}
                      )

companies_7 = pd.DataFrame(data)
companies_7

              name
0       Collective
1          Snimmer
2           KoolIM
3     Level9 Media
4          VidKing
...            ...
2746        Nellix
2747      Cantimer
2748  cruisecritic
2749      Coloroot
2750      Geekdive

[2751 rows x 1 columns]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [31]:
cond1 = {'number_of_employees': {"$lte": 1000}}
cond2 = {'number_of_employees': {"$gte": 100}}

data = collection.find({'$and': [cond1, cond2]}, 
                       {"_id":0,"name":1,"number_of_employees":1}
                      )

companies_8 = pd.DataFrame(data)
companies_8

                      name  number_of_employees
0                AdventNet                  600
1                  AddThis                  120
2                    OpenX                  305
3                 LifeLock                  644
4                    Jajah                  110
..                     ...                  ...
937  UOL (Universo Online)                  500
938               NextLabs                  100
939      OfficialVirtualDJ                  102
940          Willdan Group                  385
941                   QSGI                  164

[942 rows x 2 columns]

### 9. Order all the companies by their IPO price in a descending order.

In [69]:
data = collection.find(
{"_id":0,"name":1,"ipo.price":1}
)

companies_9 = pd.DataFrame(data)
companies_9
#no me sale

Empty DataFrame
Columns: []
Index: []

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [65]:

data = collection.find(
                       {"_id":0,"name":1,"number_of_employees":1}
                      ).sort("number_of_employees", -1).limit(10)

companies_10 = pd.DataFrame(data)
companies_10

Empty DataFrame
Columns: []
Index: []

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [41]:
cond1 = {'founded_month': {"$lte": 12}}
cond2 = {'founded_month': {"$gte": 7}}

data = collection.find({'$and': [cond1, cond2]}, 
                       {"_id":0,"name":1}
                      )

companies_11 = pd.DataFrame(data)[:1000]
companies_11

             name
0        Wetpaint
1            Zoho
2            Digg
3       Omnidrive
4            eBay
..            ...
995      LingusTV
996  AccountMaven
997      Chapatiz
998       YOOWALK
999   Data Domain

[1000 rows x 1 columns]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [64]:
cond1 = {'acquisition.price_amount': {"$gte": 1000000}}
cond2 = {'founded_year': {"$gte": 2000}}

data = collection.find({'$and': [cond1, cond2]}, 
                       {"_id":0,"name":1}
                      )

companies_12 = pd.DataFrame(data)
companies_12

                     name
0                Wetpaint
1             StumbleUpon
2                   Helio
3                   Plaxo
4                Powerset
..                    ...
329  Mu-Gahat Enterprises
330       Luminus Devices
331        EnterSys Group
332               Intergy
333             EnteGreat

[334 rows x 1 columns]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [46]:

cond1 = {'founded_year': {"$gte": 2010}}

data = collection.find({'$and': [cond1]}, 
                       {"_id":0,"name":1,"acquisition":1}
                      ).sort("price_amount", 1)
companies_13 = pd.DataFrame(data)
companies_13

             name acquisition
0        Mokitown        None
1        CircleUp        None
2         PeekYou        None
3           GENWI        None
4           headr        None
..            ...         ...
141       Shreppy        None
142  Start Mobile        None
143       Pitchie        None
144     Treehouse        None
145       DocASAP        None

[146 rows x 2 columns]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [47]:


data = collection.find(
                       {"_id":0,"name":1,"founded_year":1}
                      ).sort("founded_year", 1)
companies_14 = pd.DataFrame(data)
companies_14
#no me sale

Empty DataFrame
Columns: []
Index: []

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [49]:
cond1 = {'founded_day': {"$gte": 1}}
cond2 = {'founded_day': {"$lte": 7}}

data = collection.find({'$and': [cond1, cond2]}, 
                       {"_id":0,"name":1,"acquisition_price":1}
                      ).sort("acquisition_price", -1).limit(10)

companies_15 = pd.DataFrame(data)
companies_15

                    name
0            StumbleUpon
1                  Joost
2                Postini
3                 Gizmoz
4                   eBay
5  Fox Interactive Media
6               Facebook
7              Omnidrive
8                   Geni
9                  Helio

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [51]:
cond1 = {'category_code': 'web'}
cond2 = {'number_of_employees': {"$lte": 4000}}

data = collection.find({'$and': [cond1, cond2]}, 
                       {"_id":0,"name":1,"acquisition_price":1}
                      ).sort("number_of_employees", 1)

companies_16 = pd.DataFrame(data)
companies_16

                       name
0     Fox Interactive Media
1                    coRank
2                      Bebo
3              Ticketmaster
4                  Go2Web20
...                     ...
2065                Mozilla
2066                Gumtree
2067            HomeAdvisor
2068                 Zappos
2069    Daum Communications

[2070 rows x 1 columns]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [63]:
cond1 = {'acquisition.price_currency_code': 'EUR'}
cond2 = {'acquisition.price_amount': {"$gte": 10000000}}

data = collection.find({'$and': [cond1, cond2]}, 
                       {"_id":0,"name":1}
                      )
companies_17 = pd.DataFrame(data)
companies_17
#no me sale

                  name
0                  ZYB
1              Apertio
2    Greenfield Online
3              Webedia
4            Wayfinder
5  Tuenti Technologies
6       BioMed Central

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [60]:
cond1 = {'acquisition.acquired_month': {"$lte": 3}}
cond2 = {'acquisition.acquired_month': {"$gte": 1}}

data = collection.find({'$and': [cond1, cond2]}, 
                       {"_id":0,"acquisition":1, "name":1}
                      )
companies_18 = pd.DataFrame(data)
companies_18
#no me sale

,name,acquisition
0,Kyte,"{'price_amount': None, 'price_currency_code': ..."
1,NetRatings,"{'price_amount': 327000000, 'price_currency_co..."
2,blogTV,"{'price_amount': None, 'price_currency_code': ..."
3,Livestream,"{'price_amount': None, 'price_currency_code': ..."
4,iContact,"{'price_amount': 169000000, 'price_currency_co..."
...,...,...
637,Advanced Control Components,"{'price_amount': 18780000, 'price_currency_cod..."
638,Celestial Semiconductor,"{'price_amount': None, 'price_currency_code': ..."
639,InSound Medical,"{'price_amount': None, 'price_currency_code': ..."
640,EnterSys Group,"{'price_amount': 17500000, 'price_currency_cod..."
641,Intergy,"{'price_amount': 16460000, 'price_currency_cod..."

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [20]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [21]:
# Your Code