# Advanced Querying Mongo

Importing libraries and setting up connection

In [345]:
import pymongo
import pandas as pd
import numpy as np

cliente = pymongo.MongoClient()
cliente

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [346]:
mybase = cliente.LABMONGO
coleccion = mybase.LABMONGO

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [347]:
# Your Code

pd.DataFrame(coleccion.find({"name":"Babelgum"}))

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297da0,Babelgum,babelgum,http://www.crunchbase.com/company/babelgum,http://babelgum.com,http://babelgum.com/blog,http://feeds.feedburner.com/Babelgum,Babelgum,games_video,None,...,[],None,[],"[{'description': '', 'address1': '', 'address2...",[],None,[],[],[],[]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [348]:
# Your Code, Todas las empresas que tienen mÃ¡s de 5000 empleados. 
#Limite la bÃºsqueda a 20 empresas y ordÃ©nelas por nÃºmero de empleados.

pd.DataFrame(coleccion.find({"number_of_employees":{"$gt":5000}}))[:20]

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297d8e,Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299,...,"[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...","{'valuation_amount': 104000000000, 'valuation_...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[]
1,52cdef7c4bab8bd675297d9b,eBay,ebay,http://www.crunchbase.com/company/ebay,http://ebay.com,,,eBay,web,15000,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': 1500000000, 'price_currency_...","[{'description': 'Headquarters', 'address1': '...","[{'id': 7107, 'description': 'eBay Q2 Revenue ...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""370"" height=""3...","[{'available_sizes': [[[150, 71], 'assets/imag...",[],[]
2,52cdef7c4bab8bd675297da2,Cisco,cisco,http://www.crunchbase.com/company/cisco,http://www.cisco.com,http://blogs.cisco.com,,CiscoSystems,network_hosting,63000,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': 215000000, 'price_currency_c...","[{'description': 'Headquarters', 'address1': '...","[{'id': 10474, 'description': 'Cisco To Acquir...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 92], 'assets/imag...",[{'external_url': 'http://mashpedia.com/cisco'...,[]
3,52cdef7c4bab8bd675297da3,Yahoo!,yahoo,http://www.crunchbase.com/company/yahoo,http://www.yahoo.com,http://ycorpblog.com/,http://ycorpblog.com/feed/,Yahoo,web,13600,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': 1000000000, 'price_currency_...","[{'description': None, 'address1': '701 First ...","[{'id': 347, 'description': 'CBS and Yahoo in ...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 132], 'assets/ima...",[{'external_url': 'http://onlinepersonalswatch...,[]
4,52cdef7c4bab8bd675297dba,Google,google,http://www.crunchbase.com/company/google,http://google.com,http://googleblog.blogspot.com,http://googleblog.blogspot.com/feeds/posts/def...,google,search,28000,...,"[{'funding_round': {'round_code': 'a', 'source...",None,"[{'price_amount': 60000000, 'price_currency_co...","[{'description': 'Google Headquarters', 'addre...","[{'id': 3, 'description': 'More than 4 Billion...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...",[],[],"[{'partner_name': 'AngelList', 'homepage_url':..."
5,52cdef7c4bab8bd675297dc4,Intel,intel,http://www.crunchbase.com/company/intel,http://www.intel.com,,,intel,hardware,86300,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': 884000000, 'price_currency_c...","[{'description': 'Robert Noyce Building', 'add...","[{'id': 3992, 'description': 'Intel announces ...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 92], 'assets/imag...",[{'external_url': 'http://mashpedia.com/Intel'...,[]
6,52cdef7c4bab8bd675297e49,Nintendo,nintendo,http://www.crunchbase.com/company/nintendo,http://nintendo.com,,,NintendoAmerica,games_video,5080,...,[],None,[],"[{'description': None, 'address1': None, 'addr...","[{'id': 17591, 'description': '3D For Everyone...",None,[],[],[],[]
7,52cdef7c4bab8bd675297e5d,Adobe Systems,adobe-systems,http://www.crunchbase.com/company/adobe-systems,http://www.adobe.com,http://blogs.adobe.com/,http://blogs.adobe.com/index.xml,Adobe,software,7173,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 3400000000, 'price_currency_...","[{'description': '', 'address1': '', 'address2...","[{'id': 6, 'description': 'Adobe announced new...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 93], 'assets/imag...",[{'external_url': 'http://www.crunchbase.com/f...,[]
8,52cdef7c4bab8bd675297e6f,Sony,sony,http://www.crunchbase.com/company/sony,http://www.sony.com,http://blog.sony.com/,http://blog.sony.com/,Sony,hardware,180500,...,[],None,"[{'price_amount': 260000000, 'price_currency_c...","[{'description': 'HQ', 'address1': '16530 Via ...","[{'id': 18773, 'description': 'Sony Will Buy O...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 107], 'assets/ima...",[{'external_url': 'http://www.entechgadget.com...,[]
9,52cdef7c4bab8bd675297e89,PayPal,paypal,http://www.crunchbase.com/company/paypal,http://www.paypal.com,,,paypal,finance,300000,...,"[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': 1500000000, 'price_currency_c...","[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '2145 E Hamil...","[{'id': 11916, 'description': 'Reserve Bank Of...",None,[],"[{'available_sizes': [[[150, 120], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[]
10,52cdef7c4bab8bd675297e8e,The Walt Disney Company,the-walt-disney-company,http://www.crunchbase.com/company/the-walt-dis...,http://thewaltdisneycompany.com,http://thewaltdisneycompany.com/blog,,DisneyPost,games_video,25000,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 350000000, 'price_currency_c...","[{'description': None, 'address1': '500 S. Bue...","[{'id': 6970, 'description': 'Disney About To ...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 92], 'assets/imag...",[{'external_url': 'http://jobs.disney.corp.go....,[]
11,52cdef7c4bab8bd675297e96,AOL,aol,http://www.crunchbase.com/company/aol,http://www.aol.com,http://blog.aol.com/,http://feeds.feedburner.com/AolBlog?format=xml,aol,web,8000,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 40000000, 'price_currency_co...","[{'description': 'HQ', 'address1': '770 Broadw...","[{'id': 2689, 'description': 'AOL relauches, c...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 91], 'assets/imag...","[{'external_url': 'http://mashpedia.com/AOL', ...",[]
12,52cdef7c4bab8bd675297ea4,Webkinz,webkinz,http://www.crunchbase.com/company/webkinz,http://www.webkinz.com,http://www.webkinz.com,http://piczo.com,webkinz,web,8657,...,[],None,[],"[{'description': None, 'address1': 'One Pearce...",[],None,[],[],"[{'external_url': 'http://webkinz-tips.com', '...",[]
13,52cdef7c4bab8bd675297ee9,Sun Microsystems,sun-microsystems,http://www.crunchbase.com/company/sun-microsys...,http://www.sun.com,,,sunmicrosystems,enterprise,33350,...,"[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': 7400000000, 'price_currency_c...","[{'price_amount': 1000000000, 'price_currency_...","[{'description': None, 'address1': '4150 Netwo...","[{'id': 196, 'description': 'NBC selects Sun t...",None,"[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 92], 'assets/imag...",[{'external_url': 'http://mashpedia.com/Sun_Mi...,[]
14,52cdef7c4bab8bd675297fc2,Nokia,nokia,http://www.crunchbase.com/company/nokia,http://nokia.com,,,nokia,mobile,125000,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 96800000, 'price_currency_co...","[{'description': 'headquarter', 'address1': 'K...","[{'id': 9161, 'description': 'Nokia, AT&T Putt...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 131], 'assets/ima...",[{'external_url': 'http://en.wikipedia.org/wik...,[]
15,52cdef7c4bab8bd675297fcb,Rakuten,rakuten,http://www.crunchbase.com/company/rakuten,http://global.rakuten.com/corp,,,RakutenGlobal,web,10000,...,[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': 425000000, 'price_currency_c...","[{'description': 'Headquarter', 'address1': 'R...","[{'id': 7034, 'description': 'RS Empowerment a...",None,[],"[{'available_sizes': [[[150, 111], 'assets/ima...",[{'external_url': 'http://www.brightwire.com/c...,[]
16,52cdef7c4bab8bd67529809d,Microsoft,microsoft,http://www.crunchbase.com/company/microsoft,http://www.microsoft.com,,,Microsoft,software,90000,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': 50000000, 'price_currency_co...","[{'description': 'World Headquarters', 'addres...","[{'id': 9073, 'description': 'Microsoft Actual...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<div style=""width:430px;""><di...","[{'available_sizes': [[[99, 150], 'assets/imag...",[],[]
17,52cdef7c4bab8bd675298189,Apple,apple,http://www.crunchbase.com/company/apple,http://www.apple.com,,,ebelow,hardware,80000,...,[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': 278000000, 'price_currency_c...","[{'description': None, 'address1': '1 Infinite...","[{'id': 782, 'description': 'Apple Sells 6.9 M...","{'valuation_amount': None, 'valuation_currency...",[],[],[{'external_url': 'http://thcx.org/tech-news/i...,[]
18,52cdef7c4bab8bd6752981b5,NetApp,netapp,http://www.crunchbase.com/company/netapp,http://netapp.com,http://blogs.netapp.com/dave/,http://blogs.netapp.com/dave/index.rdf,netapp,software,8000,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': 120000000, 'price_currency_c...","[{'description': None, 'address1': None, 'addr...","[{'id': 12113, 'description': 'The price paid ...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[]
19,52cdef7c4bab8bd67529821b,Motorola Solutions,motorola-solutions,http://www.crunchbase.com/company/motorola-sol...,http://www.motorolasolutions.com,,,MotoSolutions,enterprise,51000,...,"[{'funding_round': {'round_code': 'd', 'source...",None,"[{'price_amount': 181000000, 'price_currency_c...","[{'description': 'Corporate Headquarters', 'ad...",[],"{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 93], 'assets/imag...",[],[]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [349]:
# Your Code, Todas las empresas fundadas entre 2000 y 2005, ambos aÃ±os incluidos. Recupere solo los campos namey .founded_year
#pd.DataFrame(coleccion.find({"founded_year":{"$in": ["2000", "2005"] }}, {"name"}))

condicion1={"founded_year":{"$gte":2000}}
condicion2={"founded_year":{"$lte":2005}}

query = {"$and":[condicion1,condicion2]}

pd.DataFrame(coleccion.find(query,{"_id":0,"name":1,"founded_year":1}).limit(5))

        name  founded_year
0   Wetpaint          2005
1       Zoho          2005
2       Digg          2004
3   Facebook          2004
4  Omnidrive          2005

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [350]:
# Your Code, todas las empresas que tuvieran un Importe de ValoraciÃ³n superior a 100.000.000 y hayan sido fundadas antes de 2010. 
#Recuperar Ãºnicamente los campos name y .ipo

cond1= {"founded_year":{"$lt":2010}}
cond2= {"ipo":{"$gte":["100.000.000"]}}
mix = {"$and":[condicion1,condicion2]}

pd.DataFrame(coleccion.find(mix,{"_id":0,"founded_year":1,"ipo":1}).limit(10))

   founded_year                                                ipo
0          2005                                                NaN
1          2005                                                NaN
2          2004                                               None
3          2004  {'valuation_amount': 104000000000, 'valuation_...
4          2005                                               None
5          2002                                               None
6          2003                                               None
7          2005                                               None
8          2002                                               None
9          2002                                               None

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [351]:
# Your Code,Todas las empresas que tengan menos de 1000 empleados y hayan sido fundadas antes de 2005. 
#OrdÃ©nalas por el nÃºmero de empleados y limita la bÃºsqueda a 10 empresas.

cond1= {"number_of_employees":{"$lt":1000}}
cond2= {"founded_year":{"$lt":2005}}

mix = {"$and":[condicion1,condicion2]}

pd.DataFrame(coleccion.find(mix,{"_id":0,"founded_year":1,"number_of_employees":1}).sort("number_of_employees",-1).limit(10))

   number_of_employees  founded_year
0               205000          2001
1                99999          2001
2                18000          2000
3                 8657          2005
4                 8000          2001
5                 5299          2004
6                 5000          2002
7                 4800          2003
8                 4000          2002
9                 2800          2003

### 6. All the companies that don't include the `partners` field.

In [352]:
# Your Code, todas las empresas que no incluyen el campo "partners".

pd.DataFrame(coleccion.find({'partner': {'$exists': False}}))[:5]

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,...,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,52cdef7c4bab8bd675297d8b,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,...,"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN
2,52cdef7c4bab8bd675297d8c,Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 388, 'description': 'Zoho Reaches 2 Mi...","[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],NaN,NaN,NaN,NaN
3,52cdef7c4bab8bd675297d8d,Digg,digg,http://www.crunchbase.com/company/digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60.0,...,"[{'description': None, 'address1': '135 Missis...","[{'id': 9588, 'description': 'Another Digg Exe...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[117, 150], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[],NaN,NaN,None,None
4,52cdef7c4bab8bd675297d8e,Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[],NaN,NaN,,"{'valuation_amount': 104000000000, 'valuation_..."

### 7. All the companies that have a null type of value on the `category_code` field.

In [355]:
# Your Code,Todas las empresas que contengan nulos en "category_code"


pd.DataFrame(coleccion.find({"category_code": {"$type": "null"}},{"_id":0, "category_code":1}))[:10]

  category_code
0          None
1          None
2          None
3          None
4          None
5          None
6          None
7          None
8          None
9          None

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [358]:
# Your Code,todas las empresas que tienen al menos 100 empleados pero menos de 1000. 
#Recuperar solo los campos "name" y "number of employees".

cond1= {"number_of_employees":{"$gte":100}}
cond2= {"number_of_employees":{"$lte":1000}}
mix= {"$and":[cond1,cond2]}

pd.DataFrame(coleccion.find(mix,{"_id":0,"name":1,"number_of_employees":1}).sort("ipo",-1))[:10]

                   name  number_of_employees
0                  GREE                  700
1                Zillow                  600
2                  Yelp                  800
3            Higher One                  380
4             OpenTable                  550
5              QlikTech                  600
6      Millennial Media                  137
7                  Mixi                  257
8  Cornerstone OnDemand                  881
9              Infoblox                  500

### 9. Order all the companies by their IPO price in a descending order.

In [359]:
# Your Code, ordenar todas las compaÃ±Ã­as por el IPO en orden descendiente.

list(coleccion.find({"_id":0,"ipo":1}).sort("ipo",-1))

[]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [366]:
# Your Code,dar una lista con los nombres de las 10 empresas con mÃ¡s empleados:

list(coleccion.find({"_id":0,"name":1,"number_of_employees":1}).sort("number_of_employees",-1))[:10]

[]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
# Your Code	

founded_year

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [367]:
# Your Code,todas las empresas fundadas antes del 2000 que tengan un monto de adquisiciÃ³n superior a 10.000.000, #{"founded_year":{"$lt":2000}},"ipo":"$gt":10.000.00}

cond1= {"founded_year":{"$lt":2000}}
cond2= {"ipo":{"$gt":10000000}}
       
mix= {"$and":[cond1,cond2]}
       
list(coleccion.find(mix,{"_id":0,"founded_year":1,"ipo":1}))

[]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [369]:
#Todas las empresas que han sido adquiridas despuÃ©s de 2010, 
#se ordenan por el monto de la adquisiciÃ³n y recuperan solo su campo namey acquisition.


list(coleccion.find({"acquisition":{"$gte":2010}},{"_id":0,"name":1,"acquisition":1}).sort("ipo",-1))

[]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [371]:
# Your Code
list(coleccion.find({"_id":0,"name":1,"founded_year":1}).sort("founded_year",-1))

[]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code